{% extends "tumblelog/base_tumblelog.html" %}
{% load tumblelog i18n %}

{% block title %}{% trans "Tumblelog" %}{% endblock %}
{% block body_id %}item_archive{% endblock %}

{% block content_title %}
	<h2>{% trans "Tumblelog archive" %}</h2>
{% endblock %}

{% block content %}
	<div class="item_list">
		{% for item in object_list %}
			<div>
				<h3 class="title"><a href="{{ item.get_absolute_url }}">{{ item }}</a></h3>
				<div class="post">{{ item|render_item|safe }}</div>
				<p class="date">{% trans "Posted" %} {{ item.publish|date:"Y F d" }} {% trans "at" %} {{ item.publish|date:"P" }}</p>
			</div>
		{% endfor %}
	</div>
	{% if is_paginated %}
		<p class="pagination">
			{% if has_next %}
				<a class="older" href="{% url tumblelog_index_paginated next %}">{% trans "Older" %}</a>
			{% endif %}
			{% if has_next and has_previous %} | {% endif %}
			{% if has_previous %}
				<a class="newer" href="{% url tumblelog_index_paginated previous %}">{% trans "Newer" %}</a>
			{% endif %}
		</p>
	{% endif %}
{% endblock %}